
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h2 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

h4 {
  font-size: 1em;
  margin: 0.50em 0;
}

p {
  font-size: 1em;
}

td{
  border: 1px solid black;
}